/**
 * Filename:   application.css
 * Project:    Final Project
 * Authors:    Ved Kale, Miriam Lebowitz, Niharika Tomar, and Elizaveta Stepanova
 * 
 * Final Project GUI
 * 
 */
.button {
	-fx-background-color: #b0c4de;
	-fx-border-radius: 4px;
	-fx-padding: 10px;
} 

.hbox {
	-fx-padding: 20px;
}

.root {
	-fx-background-color: #132D54;
}


