/**
 * Filename: Main.java
 * 
 * @author Ved Kale, Miriam Lebowitz, Elizaveta Stepanova, and Niharika Tomar
 */
 
 /* Style all the buttons in GUI pages */
.button {
	-fx-background-color: #b0c4de;
	-fx-border-radius: 4.0px;
	-fx-padding: 10.0px;
} 

/* Style .hbox with padding */
.hbox {
	-fx-padding: 20.0px;
}

/* Style all the Border Panes with background color and padding */
.root {
	-fx-background-color: #132D54;
	-fx-padding: 10.0px 10.0px 10.0px 10.0px;
}